
:root{
    --size: 30vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    border:  0;
}

html, body{
    width:  100%;
    height: 100%;
    background-color: #ffe9e9;
}

body {
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.container { display: flex; }

.dad {
    display:        flex;
    flex-direction: column;
}

.child {
    width:            var(--size);
    height:           var(--size);
    background-color: red;
    border:           2px solid white;
    margin:           2vh;
}
