* {
    border:  0;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: crimson;

}

main{
    position:  relative;
    width:     80%;
    max-width: 1000px;
    margin:    0 auto;
    padding:   30px;
    background-color: rgb(230,230,230);
}

#titulo{
    width:          100%;
    text-align:     center;
    padding:        40px 0;
    text-transform: uppercase;
    font-size:      18pt;
}

p{
    margin-bottom: 20px;
}

img{
    width:          100%;
    max-width:      100%;
    height:         auto;
    vertical-align: middle;
}