
* {
    border:           0;
    margin:           0;
    padding:          0;
    box-sizing:       border-box;
}

html, body {
    width:            100%;
    height:           auto;
    min-height:       100vh;
}

body { background: linear-gradient(180deg, rgb(25, 0, 255), rgb(6, 173, 0)); }

img {
    width:            100%;
    max-width:        100%;
    height:           auto;
    vertical-align:   middle;
}

main {
    display:          flex;
    flex-wrap:        wrap;
    position:         relative;
    margin:           0 auto;
    width:            100%;
    max-width:        1200px;
    padding:          30px;
    justify-content:  space-evenly;
    align-content:    flex-start;
    height:           auto;
    min-height:       100vh;
}

.lego {
    width:            25%;
    min-width:        350px;
    border:           1px solid grey;
    padding:          20px;
    margin-top:       20px;
    background-color: white;
}

@media screen and (max-width:350px) {
    .lego { min-width: 100%; }
}
