
:root{
    --size: 95vh; /* view port height */
}

* {
    box-sizing: border-box;
    margin:  0;
    border:  0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    background-color: black;
}

body {
    background-image:      url('./img/xadrez.png');
    background-position:   center center; /* X - center \ Y  - center */
    background-size:       cover;
    background-repeat:     no-repeat;
    background-attachment: fixed; /* Image is fixed */

    display:         flex;
    align-items:     center;
    justify-content: center;
}

#tabuleiro {
    width:            var(--size);
    height:           var(--size);
    background-color: rgba(255,255,255, .5);
    border:           10px solid rgb(84,70,71);
    
    display:   flex;
    flex-wrap: wrap;
}

.casa {
    width:  12.5%;
    height: 12.5%;
    /* border: 1px solid white; */
}

.escura { background-color: rgba(0,0,0, .5); }
